name: 'build-test'
on:
  push:
    paths-ignore:
      - '**/*.md'

  schedule:
    # Daily 5am australian/brisbane time (7pm UTC)
    - cron: '0 19 * * *'
  workflow_dispatch:

env:
  ADMIN_API_KEY: '${{ secrets.OD_IMAGE_ADMIN_API_KEY }}'
  SA_PASSWORD: '${{ secrets.DB_IMAGE_SA_PASSWORD }}'
  SERVER_URL: 'http://localhost:8080'

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2019-CU27-ubuntu-20.04
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: ${{ env.SA_PASSWORD }}
          MSSQL_PID: Developer
        options: >-
          --health-cmd "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P \"$SA_PASSWORD\" -Q \"SELECT 1\" || exit 1"
          --health-interval 10s
          --health-timeout 3s
          --health-retries 10
          --health-start-period 10s
      octopusserver:
        image: octopusdeploy/octopusdeploy
        env:
          ACCEPT_EULA: Y
          DB_CONNECTION_STRING: 'Server=sqlserver;Database=OctopusDeploy;User Id=sa;Password=${{ env.SA_PASSWORD }};'
          ADMIN_API_KEY: ${{ env.ADMIN_API_KEY }}
          ENABLE_USAGE: N
          OCTOPUS_SERVER_BASE64_LICENSE: ${{ secrets.OCTOPUS_SERVER_BASE64_LICENSE }}
        ports:
          - 8080:8080
    # https://github.com/dorny/test-reporter/issues/168
    permissions:
      statuses: write
      checks: write
    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install package dependencies
        run: npm install

      - name: Compile and run tests
        env:
          OCTOPUS_TEST_URL: ${{ env.SERVER_URL }}
          OCTOPUS_TEST_API_KEY: ${{ env.ADMIN_API_KEY }}
        run: npm run all

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: JEST Tests
          path: 'reports/jest-*.xml'
          reporter: jest-junit

      - name: Compare the expected and actual dist/ directories
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes in transpiled javascript after build. Please run `npm run build` locally and commit the changes. See status below:"
            git diff
            exit 1
          fi
        id: diff

      # If index.js was different than expected, upload the expected version as an artifact
      - name: Upload dist as artifact if differences detected
        uses: actions/upload-artifact@v3
        if: ${{ failure() && steps.diff.conclusion == 'failure' }}
        with:
          name: dist
          path: dist/

      - name: Add server url to CORS
        run: |
          curl '${{ env.SERVER_URL }}/api/configuration/webportal/values' -X 'PUT' -H 'Content-Type: application/json' -H 'X-Octopus-ApiKey: ${{ env.ADMIN_API_KEY }}' --data-binary '{"Security":{"CorsWhitelist":"http://localhost,${{ env.SERVER_URL }}","ReferrerPolicy":"no-referrer","ContentSecurityPolicyEnabled":true,"HttpStrictTransportSecurityEnabled":false,"HttpStrictTransportSecurityMaxAge":31556926,"XOptions":{"XFrameOptionAllowFrom":null,"XFrameOptions":"None"}}}' -o /dev/null -s -w "%{http_code}\n"

      - name: Push build information to Octopus Deploy
        uses: ./
        env:
          OCTOPUS_URL: ${{ env.SERVER_URL }}
          OCTOPUS_API_KEY: ${{ env.ADMIN_API_KEY }}
          OCTOPUS_SPACE: 'Default'
        with:
          branch: 'test'
          packages: 'Testing'
          version: '1.0.0'
